html, body {
		width: 100%;
		height: 100%;
		text-align: center;
		background: #333 url('../images/black_linen_v2.png') center repeat;
		overflow: hidden;
		color: #fff;
		font-family: Helvetica, Arial, sans-serif;
}
.emulator-page {
		display: block;
		height: 100%;
}
a, a:visited {
		color: inherit;
}
#deviceFrame {
		min-width: 320px;
		min-height: 640px;
		margin: 0 auto;
		background: #fff;
		box-shadow: 0 0 50px #000;
		border-top: 20px solid #008000;
		border-bottom: 20px solid #CC0000;
}
#deviceFrameWrapper {
		position: relative;
		height: 100%;
		padding-top: 40px;
}
#emulator {
		text-align: center;
		line-height: 1;
		position: fixed;
		top: 0;
		right: 0;
}
#controller {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 300px;
		height: 100%;
		max-height: 300px;
		text-align: center;
		background: #383636;
		z-index: 3;
}
#emulator ul {
		font-size: 13px;
		display: inline-block;
		margin: -0.2em auto 0.2em;
		-webkit-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
		-moz-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
		-ms-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
		-o-filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
		filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .25));
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
}

div.info {
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	height: 27.5px;
	padding: 8px 20px;
	margin: 0 10px;

	background-color: #383636;
	color: #cccccc;
}
div.info span {
	display: inline-block;
	width: 50px;
	height: 11px;
	overflow: hidden;
}

button.rotate i:before, button[data-rotate] i:before {
		-webkit-transition: all 0.15s linear;
		-moz-transition: all 0.15s linear;
		-ms-transition: all 0.15s linear;
		-o-transition: all 0.15s linear;
		transition: all 0.15s linear;
}
.landscape i:before {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
}
[data-max="150"] {
		font-size: 150px;
}
[data-max="95"] {
		font-size: 95px;
}
[data-max="30"] {
		font-size: 30px;
}
@media (max-width: 480px) {
		[data-min="60"] {
				font-size: 60px;
		}
		[data-min="52"] {
				font-size: 52px;
		}
		[data-min="20"] {
				font-size: 20px;
		}
}
